<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Impact Survey for Engineers</title>
    <style>
        body {
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
            font-family: Arial, sans-serif;
            color: black;
            padding: 20px;
        }
        .required::after {
            content: " *";
            color: red;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
        ol {
            list-style-type: none;
            padding: 2px;
        }.error {
            color: red;
            font-size: 0.9em;
        }
        
        li {
            margin-bottom: 15px;
        }
        
        nav {
            color: white;
            border: 1px solid black;
            border-radius: 10px;
            font-size: larger;
            background-image: url('imageai.jpeg');
            padding: 15px;
        }
    </style>
</head>
<body>
    <nav id="nav">
        <h2>Impacts of A.I. on Engineers</h2>
    </nav>
    <form method="post" id="survey-form">
        {% csrf_token %}
        {{ form.as_p }}
        <ol>
            <li>
                <label class="required">1. How long have you been employed in your current organization?</label><br>
                <input type="radio" name="q1" value="-2"> Less than 1 year<br>
                <input type="radio" name="q1" value="-1"> 1-3 years<br>
                <input type="radio" name="q1" value="0"> 3-5 years<br>
                <input type="radio" name="q1" value="1"> 5-10 years<br>
                <input type="radio" name="q1" value="2"> More than 10 years<br>
                <span class="error required" id="error-q1"></span>
            </li>
            <li>
                <label class="required">2. How would you rate your overall familiarity with AI technologies in the workplace?</label><br>
                <input type="radio" name="q2" value="-2"> Very unfamiliar<br>
                <input type="radio" name="q2" value="-1"> Somewhat unfamiliar<br>
                <input type="radio" name="q2" value="0"> Neutral<br>
                <input type="radio" name="q2" value="1"> Somewhat familiar<br>
                <input type="radio" name="q2" value="2"> Very familiar<br>
                <span class="error required" id="error-q2"></span>
            </li>
            <li>
                <label class="required">3. Has AI been implemented in any aspect of your job role or department?</label><br>
                <input type="radio" name="q3" value="1"> Yes<br>
                <input type="radio" name="q3" value="0"> No<br>
                <span class="error required" id="error-q3"></span>
            </li>
            <li>
                <label class="required">4. How do you perceive the impact of AI on your daily work tasks and responsibilities?</label><br>
                <input type="radio" name="q4" value="-1"> Negative impact<br>
                <input type="radio" name="q4" value="0"> Neutral <br>
                <input type="radio" name="q4" value="1"> Positive impact<br>
                <span class="error required" id="error-q4"></span>
            </li>
            <li>
                <label class="required">5. How satisfied are you with the training and support provided to adapt to AI technologies in your workplace?</label><br>
                <input type="radio" name="q5" value="-2"> Very dissatisfied<br>
                <input type="radio" name="q5" value="-1"> Dissatisfied<br>
                <input type="radio" name="q5" value="0"> Neutral<br>
                <input type="radio" name="q5" value="1"> Satisfied<br>
                <input type="radio" name="q5" value="2"> Very satisfied<br>
                <span class="error required" id="error-q5"></span>
            </li>
            <li>
                <label class="required">6. How do you rate the effectiveness of AI in improving workplace efficiency and productivity?</label><br>
                <input type="radio" name="q6" value="-2"> Not effective at all<br>
                <input type="radio" name="q6" value="-1"> Somewhat effective  <br>
                <input type="radio" name="q6" value="0"> Neutral<br>
                <input type="radio" name="q6" value="1"> Very effective<br>
                <input type="radio" name="q6" value="2"> Extremely effective<br>
                <span class="error required" id="error-q6"></span>
            </li>
            <li>
                <label class="required">7. Have you experienced any job-related changes or restructuring due to AI implementation? </label><br>
                <input type="radio" name="q7" value="1"> Yes<br>
                <input type="radio" name="q7" value="0"> No<br>
                <span class="error required" id="error-q7"></span>
            </li>
            <li>
                <label class="required">8. How confident are you in your ability to adapt to future changes brought about by AI in the workplace?</label><br>
                <input type="radio" name="q8" value="-2"> Not confident at all <br>
                <input type="radio" name="q8" value="-1"> Somewhat confident  <br>
                <input type="radio" name="q8" value="0"> Neutral<br>
                <input type="radio" name="q8" value="1"> Very confident<br>
                <input type="radio" name="q8" value="2"> Extremely confident<br>
                <span class="error required" id="error-q8"></span>
            </li>
            <li>
                <label class="required">9. To what extent do you believe AI will impact job security in your industry?</label><br>
                <input type="radio" name="q9" value="1">Minimal impact<br>
                <input type="radio" name="q9" value="2"> Moderate impact<br>
                <input type="radio" name="q9" value="3"> Significant impact<br>
                <input type="radio" name="q9" value="4"> Revolutionary impact<br>
                <span class="error required" id="error-q9"></span>
            </li>
            <li>
                <label class="required">10. How concerned are you about potential job displacement caused by AI in your industry?</label><br>
                <input type="radio" name="q10" value="-2"> Not concerned at all <br>
                <input type="radio" name="q10" value="-1"> Somewhat concerned  <br>
                <input type="radio" name="q10" value="0"> Neutral<br>
                <input type="radio" name="q10" value="1"> Very concerned<br>
                <input type="radio" name="q10" value="2"> Extremely concerned<br>
                <span class="error required" id="error-q10"></span>
            </li>
            <li>
                <label class="required">11. How has AI adoption influenced the decision-making processes within your organization?</label><br>
                <input type="radio" name="q11" value="-1"> Hindered decision-making<br>
                <input type="radio" name="q11" value="0"> Neutral<br>
                <input type="radio" name="q11" value="1"> Enhanced decision-making<br>
                <span class="error required" id="error-q11"></span>
            </li>
            <li>
                <label class="required">12. How satisfied are you with the level of transparency regarding the use of AI algorithms in your workplace?</label><br>
                <input type="radio" name="q12" value="-2"> Very dissatisfied <br>
                <input type="radio" name="q12" value="-1"> Dissatisfied  <br>
                <input type="radio" name="q12" value="0"> Neutral<br>
                <input type="radio" name="q12" value="1"> Satisfied<br>
                <input type="radio" name="q12" value="2"> Very satisfied<br>
                <span class="error required" id="error-q12"></span>
            </li>
            <li>
                <label class="required">13. How do you perceive the role of AI in promoting diversity and inclusion within your organization?</label><br>
                <input type="radio" name="q13" value="-1"> Hindrance<br>
                <input type="radio" name="q13" value="0"> Neutral<br>
                <input type="radio" name="q13" value="1"> Facilitator<br>
                <span class="error required" id="error-q13"></span>
            </li>
            <li>
                <label class="required">14. Have you received any formal training or professional development opportunities related to AI technologies in your workplace?</label><br>
                <input type="radio" name="q14" value="1"> Yes<br>
                <input type="radio" name="q14" value="0"> No<br>
                <span class="error required" id="error-q14"></span>
            </li>
            <li>
                <label class="required">15. How do you think AI adoption has influenced the overall culture and morale within your organization?</label><br>
                <input type="radio" name="q15" value="-1"> Negative influence<br>
                <input type="radio" name="q15" value="0"> Neutral<br>
                <input type="radio" name="q15" value="1"> Positive influence<br>
                <span class="error required" id="error-q15"></span>
            </li>
            <li>
                <label class="required">16. How well do you think your organization is prepared to address the ethical implications of AI technologies?</label><br>
                <input type="radio" name="q16" value="-2"> Not prepared at all<br>
                <input type="radio" name="q16" value="-1"> Somewhat prepared<br>
                <input type="radio" name="q16" value="0"> Neutral<br>
                <input type="radio" name="q16" value="1"> Well-prepared<br>
                <input type="radio" name="q16" value="2"> Very well-prepared<br>
                <span class="error required" id="error-q16"></span>
            </li>
            <li>
                <label class="required">17. How satisfied are you with the level of communication and transparency regarding AI-related changes in your job role?</label><br>
                <input type="radio" name="q17" value="-2"> Very dissatisfied <br>
                <input type="radio" name="q17" value="-1"> Dissatisfied  <br>
                <input type="radio" name="q17" value="0"> Neutral<br>
                <input type="radio" name="q17" value="1"> Satisfied<br>
                <input type="radio" name="q17" value="2"> Very satisfied<br>
                <span class="error required" id="error-q17"></span>
            </li>
            <li>
                <label class="required">18. To what extent do you believe AI technologies have improved the quality of products/services offered by your organization?</label><br>
                <input type="radio" name="q18" value="1"> Minimal improvement<br>
                <input type="radio" name="q18" value="2"> Moderate improvement<br>
                <input type="radio" name="q18" value="3"> Significant improvement<br>
                <input type="radio" name="q18" value="4"> Revolutionary improvement<br>
                <span class="error required" id="error-q18"></span>
            </li>
            <li>
                <label class="required">19. How do you perceive the impact of AI on the potential for career advancement within your organization?</label><br>
                <input type="radio" name="q19" value="-1"> Negative influence<br>
                <input type="radio" name="q19" value="0"> Neutral<br>
                <input type="radio" name="q19" value="1"> Positive influence<br>
                <span class="error required" id="error-q19"></span>
            </li>
            <li>
                <label class="required">20. How do you rate the overall level of employee satisfaction and morale in your organization following the implementation of AI technologies?</label><br>
                <input type="radio" name="q20" value="-2"> Very Low <br>
                <input type="radio" name="q20" value="-1"> Low  <br>
                <input type="radio" name="q20" value="0"> Moderate<br>
                <input type="radio" name="q20" value="1"> High<br>
                <input type="radio" name="q20" value="2"> Very High<br>
                <span class="error required" id="error-q20"></span>
            </li>
            <!-- Neural Network Model -->
<!--            <li>-->
<!--                <label>21. How do engineering students' attitudes towards AI-related coursework relate to their confidence in their future career prospects?</label><br>-->
<!--                <input type="radio" name="q21" value="1"> Strong Negative Correlation<br>-->
<!--                <input type="radio" name="q21" value="2"> Moderate Negative Correlation<br>-->
<!--                <input type="radio" name="q21" value="3"> No Correlation<br>-->
<!--                <input type="radio" name="q21" value="4"> Moderate Positive Correlation<br>-->
<!--                <input type="radio" name="q21" value="5"> Strong Positive Correlation<br>-->
<!--            </li>-->
<!--            <li>-->
<!--                <label>22. Can neural networks predict engineering students' perceptions of the impact of AI on their collaborative teamwork dynamics?</label><br>-->
<!--                <input type="radio" name="q22" value="1"> Yes<br>-->
<!--                <input type="radio" name="q22" value="2"> No<br>-->
<!--            </li>-->
<!--            <li>-->
<!--                <label>23. What neural network architecture yields the best performance in predicting engineering students' preferences for AI-related learning materials?</label><br>-->
<!--                <input type="radio" name="q23" value="1"> Feedforward Neural Network<br>-->
<!--                <input type="radio" name="q23" value="2"> Convolutional Neural Network<br>-->
<!--                <input type="radio" name="q23" value="3"> Recurrent Neural Network<br>-->
<!--                <input type="radio" name="q23" value="4"> Other (Specify)<br>-->
<!--            </li>-->
<!--            <li>-->
<!--                <label>24. How do engineering students' self-reported levels of AI knowledge and skills correlate with their actual performance in AI-related tasks assessed through neural network-based evaluation?</label><br>-->
<!--                <input type="radio" name="q24" value="1"> Strong Negative Correlation<br>-->
<!--                <input type="radio" name="q24" value="2"> Moderate Negative Correlation<br>-->
<!--                <input type="radio" name="q24" value="3"> No Correlation<br>-->
<!--                <input type="radio" name="q24" value="4"> Moderate Positive Correlation<br>-->
<!--                <input type="radio" name="q24" value="5"> Strong Positive Correlation<br>-->
<!--            </li>-->
<!--            <li>-->
<!--                <label>25. Can neural networks accurately predict engineering students' future participation in AI-related research projects based on their past academic performance and research experience?</label><br>-->
<!--                <input type="radio" name="q25" value="1"> Yes<br>-->
<!--                <input type="radio" name="q25" value="2"> No<br>-->
<!--            </li>-->
        </ol>
        <button type="submit" id="submit-button">Submit</button>
    </form>
    <script>
        document.getElementById('survey-form').addEventListener('submit', function(event) {
          const questions = ['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10','q11','q12','q13','q14','q15','q16','q17','q18','q19','q20'];
          let allAnswered = true;
      
          questions.forEach(function(question) {
            const radios = document.getElementsByName(question);
            let answered = false;
            for (let i = 0; i < radios.length; i++) {
              if (radios[i].checked) {
                answered = true;
                break;
              }
            }
            const errorElement = document.getElementById('error-' + question);
                if (!answered) {
                    allAnswered = false;
                    errorElement.textContent = 'This question is required.';
                } else {
                    errorElement.textContent = '';
                }
          });
      
          if (!allAnswered) {
            event.preventDefault();
            alert('Please answer all the questions before submitting the form.');
          }
        });
      </script>
</body>
</html>